/.venv
quadrophonic.els
LPP3_prog_ref_guide_200415.pdf
new/audio_setting.py
new/beings_field.py
new/chnn_scan.py
new/entropic_field.py
new/formalized_m.py
new/gen_field.py
new/psychoa_test.py
new/run_epyo.bat
new/stochastic_field.py
new/synth_harms.py
new/test_speakers.py
old/audio_setting.py
old/entropic_field.py
old/formalized_m.py
old/gen_field.py
old/psychoa_test.py
old/stochastic_field.py
old/synth_harms.py
old/test_leds.py
old/test_leds2.py
old/test_speakers_emulation.py
old/test_speakers_emulation2.py
old/test_speakers.py
original/.DS_Store
original/audio_setting.py
original/entropic_field.py
original/formalized_m.py
old/.DS_Store
original/gen_field.py
original/psychoa_test.py
original/README.md
original/stochastic_field.py
original/synth_harms.py
original/test_speakers.py
ResonatingWithYou-main2.zip
.gitignore
README-2.md
new/README.md
new/requirements.txt
ResonatingWithYou-main.zip
new/.DS_Store
.DS_Store
